<ul class="progress">
    {% if person.is_moderator %}
        <li>Решений
            {% if person.reviews_opened %}
                проверяю <a href="#">{{ person.reviews_opened }}</a>,
            {% endif %}
            проверено <a href="#">{{ person.reviews_closed }}</a></li>
    {% endif %}

    <li>Рейтинг {{ person.rating }}, максимальный {{ counters.total_rating }}</li>

    <li>Задач
        {% if person.solutions_opened %}
            решаю <a href="#">{{ person.solutions_opened }}</a>,
        {% endif %}
        решил <a href="#">{{ person.solutions_closed }}</a>
    </li>

    <li>Пользователей
        {% if person.friends %}
            в друзьях<a href="#">{{ person.friends|length }}</a>,
        {% endif %}
        всего <a href="#">{{ counters.total_persons }}</a>
    </li>
</ul>
