{% extends 'base.html' %}

{% block down %}
    {# значок назад #}
{% endblock down %}

{% block title %}
    {# профиль #}
{% endblock title %}

{% block up %}
    {# значок выхода из профиля, если я в своем #}
    {# значок профиля, если я в своем #}
    {# значок входа, если я не залогинен #}
{% endblock up %}

{% block content %}
    {% include 'person/includes/name.html' %}
    {% include 'person/includes/contacts.html' %}
    {% include 'person/includes/dates.html' %}
    {% include 'person/includes/progress.html' %}
    {% include 'person/includes/rewards.html' %}
{% endblock content %}

