{% extends 'main/base.html' %}

{% block content %}
    <ul class="person-list">
        {% for person in persons %}
            <li>
                <div class="person-username">
                    <a href="{{ person.get_absolute_url }}">{{ person.username }}</a>
                </div>
                <div class="person-role">
                    {{ person.role }}
                </div>
                <div class="person-rating">
                    {{ person.rating }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}