{% extends 'main/base.html' %}

{% block content %}
    {% if person.username != user.username %}
        {% include 'person/profile.html' %}
    {% else %}
        <h1>
            {{ person.username }}
            {% if person.first_name or person.last_name %}
                {{ person.first_name }} {{ person.last_name }}
            {% endif %}
        </h1>
        <p>{{ person.role }}</p>
        <p>
            На счету {{ person.money }}
        </p>
        <p>
            Рейтинг {{ person.rating }}
            (решил <a>{{ person.puzzles_solved }}</a> задач)
        </p>
        <p>
            {% if person.puzzles_author %}
                Предложил {{ person.puzzles_author }} задач
            {% endif %}
        </p>
        {% if person.reviews_closed %}
            <p>Проверил <a>{{ person.reviews_closed }}</a> задач</p>
        {% endif %}
        <p>Вклад <a>{{ person.contribution }}</a></p>
        <div class="person-about">{{ person.about }}</div>
        <div>
            <ul class="person-comment-list">
                {% for comment in person.comment_set.all %}
                    {% if not comment.is_hidden %}
                        <li>
                            <div class="author">
                                {{ comment.author }}
                                {{ comment.time_create|date:"d M Y" }}
                            </div>
                            <div class="text">
                                {{ comment.text }}
                            </div>
                            <div>
                                {% if comment.is_liked %}
                                    <span>Сердечко</span>
                                {% endif %}
                                <a href="{{ comment_add }}">Ответить</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    {% endif %}


{% endblock %}
