<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" class="left">
            <ul id="sections">
                {% for section in sections %}
                    {% if section.pk == selected_section %}
                        <li class="selected">{{ section.name }}</li>
                    {% else %}
                        <li><a href="{{ section.get_absolute_url }}">{{ section.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>