<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            <div class="top">
                <ul id="head" class="head">
                    <li class="logo"><a href="{% url 'puzzle_list' %}">Brain Games</a></li>
                    <li><input class="">Поиск</li>
                    <li>
                        <button type="submit">Отправить</button>
                    </li>
                    <li class="right">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}">{{ person.username }}</a>
                        {% else %}
                            <a href="{% url 'login' %}">Вход</a>
                        {% endif %}
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
    </tr>
</table>