{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Brain Games{% endblock title %}</title>
    <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'main/images/main.png' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<ul>
    <li class="left">
        <h2 class="logo">Игры Разума</h2>
        {% include 'page/includes/list.html' %}
    </li>
    <li class="center">
        <ul>
            <li class="header">
                <ul>
                    <li class="back">
                        {% block back %}
                            {% include 'page/includes/icon.html' %}
                        {% endblock back %}
                    </li>
                    <li class="search">
                        {% block search %}
                            Поиск
                        {% endblock search %}
                    </li>
                    <li class="forward">
                        {% block forward %}
                            {% include 'person/includes/icon.html' %}
                        {% endblock forward %}
                    </li>
                </ul>
            </li>
            <li class="content">
                {% block content %}
                {% endblock content %}
            </li>
            <li class="footer">
                {% block footer %}
                {% endblock footer %}
            </li>
        </ul>
    </li>
    <li class="right">
        {% block right %}
        {% endblock right %}
        {% include 'event/includes/list.html' %}
    </li>
</ul>
</body>
</html>
